In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from config import gkey
import gmaps
import requests

In [2]:
df = pd.read_csv("cities.csv")
df.head()

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Albany,-35.02,117.89,57.200,71,40,4.10
1,Donauwörth,48.70,10.80,55.706,91,99,0.89
2,Suntar,62.14,117.63,72.824,50,86,0.75
3,Lakes Entrance,-37.88,147.98,68.000,48,59,2.26
4,Wakkanai,45.41,141.67,57.200,76,75,5.10

In [3]:
gmaps.configure(api_key=gkey)

In [5]:
fairdf = df.loc[(df["Temperature"]<80) & (df["Temperature"]>70) & (df["Wind Speed"]< 10) & (df["Cloudiness"]==0)]
fairdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 8 to 487
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         25 non-null     object
 1   Latitude     25 non-null     float64
 2   Longitude    25 non-null     float64
 3   Temperature  25 non-null     float64
 4   Humidity     25 non-null     int64
 5   Cloudiness   25 non-null     int64
 6   Wind Speed   25 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 1.6+ KB

In [6]:
locations = []
for index, row in fairdf.iterrows():
    locations.append([row[1], row[2]])

In [12]:
hotel = []
country = []
locs = []
base = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for location in locations:
    params = {"key": gkey,
             "radius": 5000,
             "location": f"{location[0]},{location[1]}",
             "keyword": "Hotel"}
    try:
        req = requests.get(base, params=params).json()
        hotel.append(req["results"][0]["name"])
        country.append(req["results"][0]["vicinity"])
        locs.append([req["results"][0]["geometry"]["location"]["lat"],req["results"][0]["geometry"]["location"]["lng"]])
    except:
        pass
locs

[[56.8009692, 105.7854887],
 [-24.879496, 113.661517],
 [-22.1179497, 14.2768611],
 [-25.240746, 130.983085],
 [68.05040079999999, 166.472936],
 [-23.7150157, 133.879153],
 [35.8853952, 14.5200067],
 [-22.9612833, 14.4830456],
 [-22.4168075, 14.9810114],
 [53.6083384, 109.6005022],
 [24.0804775, 32.8807065],
 [31.4478222, 12.9838564],
 [36.2829986, 59.6109913],
 [29.9452739, 40.1811555],
 [36.9029314, 50.658175],
 [36.3298503, 30.2797685],
 [32.7670277, 22.6481129]]

In [14]:
country

['Ulitsa Tolstogo, 36, Ust-Kut',
 '108 Robinson St, Carnarvon',
 'Kabeljou, Hentiesbaai',
 'Ayers Rock, Yulara Dr, Yulara',
 'р-н',
 '82 Barrett Dr, Alice Springs',
 "Sheer Bastion, Triq Il-31 Ta'Marzu, L-Isla",
 'The Esplanade, Walvis Bay',
 'Arandis',
 'Buryatia, Russia, 671610',
 'Aswan Island, Sheyakhah Oula, Aswan First',
 'Mizdah',
 'استان خراسان رضوی مشهد بلوار امام رضا، Beyt-ol-Moqaddas Square',
 '7869 طريق الملك خالد، Sakaka',
 '46917، استان مازندران رامسر، Rajaei St',
 'Orta Mah. Barbaros Caddesi No:119 Finke 1, Finike',
 'Derna']

In [16]:
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
markers = gmaps.marker_layer(locs, info_box_content=[f"{hotel[i]},   {country[i]}" for i in range(len(hotel))])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…